PORT=4000
MONGO_URI=mongodb://localhost:27017/meat-dashboard
NODE_ENV=development
CLIENT_URL=http://localhost:4000
JWT_SECRET=v9F!qL2#sR8@xP6$wT1%kN7^hJ4&zC3*mB5!dV0+uY9#eA6
TOKEN_ENCRYPTION_KEY=v9F!qL2#sR8@xP6$wT1%kN7^hJ4&zC3*mB5!dV0+uY9#eA6
META_GRAPH_VERSION=v24.0
META_API_REQUEST_DELAY_MS=700
JWT_EXPIRES_IN=7d
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_EMAIL=owner@example.com
SUPER_ADMIN_PASSWORD=SuperAdmin123!